# R関連
.Rproj.user
.Rhistory
.RData
.Ruserdata

# 仮想環境を除外
envs/

# 仮想環境名はプロジェクトごとに異なるため、一般的な名前を除外しておく
.venv/
venv/
env/

# Platform依存なファイルを除外
# GitHubによる同期から除外しても
# settings.jsonはVSCodeの設定同期で同期されるが，
# VSCodeの設定同期ではデフォルトで「OSに依存する設定」は同期されないため、
# OSに依存する設定を含むsettings.jsonは.gitignoreに追加しておく
.vscode/settings.json

__pycache__/
*.pyc

# .DS_StoreはmacOSのFinderが生成するファイルで、プロジェクトには不要なので除外
.DS_Store
